:root {
    --cinza-escuro: #222831;
    --cinza: rgba(57, 62, 70, 0.75);
    --cinza-claro: rgba(68, 71, 77, 0.75);
    --branco: #EEE;
    --azul-esverdeado: #00ADB5;
}

body {
    background-color: var(--cinza-escuro);
    color: var(--branco);
    width: 100%;
    height: 100vh;
    margin: 0;
    font-family: 'Nunito';
}


h1 {
    font-family: 'Playfair Display';
    font-size: 2.4rem;
  }
  
  button {
    font-family: 'Roboto';
    background-color: var(--cinza);
    color: var(--branco);
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    padding: 0.625rem 1.25rem;
    transition: 0.4s;
  }
  header {
    display: flex;
    height: 3.5rem;
    padding: 0.75rem 7.5rem;
    justify-content: center;
    align-items: center;
    gap: 47rem;
    z-index: 1;
    position: relative;
    white-space: nowrap;
  }
  
  #perfil-inicio {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
  }
  
  a {
    text-decoration: none;
    color: var(--branco);
  }
  
  header a {
    color: var(--branco);
    font-family: 'Comfortaa';
    font-size: 1.2rem;
  }
  
  ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
  }
  
  header ul {
    gap: 3rem;
    flex: 1 0 0;
  }
  
  .inicio {
    display: flex;
    align-items: center;
    padding-left: 7.5rem;
  }
  
  .texto-inicio {
    width: 40rem;
    padding-top: 7.5rem;
    visibility: hidden;
  }
  
  .texto-inicio h1 {
    font-size: 6rem;
    line-height: 100%;
  }
  
  .texto-inicio h1 span {
    color: var(--azul-esverdeado);
  }
  
  .inicio-botao {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 23rem;
    visibility: hidden;
  }
  
.inicio-botao button {
    display: flex;
    padding: 0.625rem 1.25rem;
    gap: 0.625rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.50);
    font-size: 1.2rem;
}
    
.inicio-botao button img {
    width: 1.5rem;
    height: 1.5rem;
}
    
#projetos-botao {
    align-items: flex-start;
    border: 1px solid var(--azul-esverdeado);
    background-color: var(--cinza-escuro);
}
    
#projetos-botao:hover {
    background-color: var(--azul-esverdeado);
}
    
#CV-botao {
    align-items: center;
    backdrop-filter: blur(2px);
}
    
#CV-botao:hover {
    background-color: var(--cinza-claro);
}
.Sobre-mim {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .conteudo {
    display: flex;
    align-items: center;
    gap: 6.5rem;
  }
  
  .conteudo img {
    width: 33rem;
    height: 33rem;
    flex-shrink: 0;
    padding-right: 6.4rem;
  }
  
  .conteudo h1 {
    color: var(--azul-esverdeado);
    align-items: center;
    font-size: 3rem;
    line-height: 1.5;
    align-self: stretch;
  }
  
  .texto-sobre-mim {
    display: flex;
    width: 36.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-left: 7.625rem;
    visibility: hidden;
  }
  
  .texto-sobre-mim p {
    align-self: stretch;
  }
  
  .icones {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    padding-top: 8.5rem;
    visibility: hidden;
  }
  
  .icones svg {
    transition: 0.25s;
  }
  
  .icones svg:hover {
    width: 2rem;
    height: 2rem;
    }
    .projetos {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      
      .titulo-decorado {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 8.5rem;
        visibility: hidden;
      }
      
      .titulo-decorado h1 {
        text-align: center;
        font-size: 3rem;
        line-height: 1.5;
      }
      
      #retangulo {
        width: 6.25rem;
        height: 0.25rem;
        border-radius: 0.125rem;
        margin-top: -2.2rem;
        background: var(--azul-esverdeado);
      }
      
      .projeto {
        padding-top: 6.5rem;
        display: flex;
        align-items: center;
        gap: 5rem;
        visibility: hidden;
      }
      
      .projetos-container {
        display: flex;
      }
      
      .texto-projeto {
        display: flex;
        width: 31rem;
        height: 33rem;
        padding: 9.15rem 2.43rem 9.1rem 3.15rem;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        gap: 1.5rem;
        background: var(--cinza);
        box-sizing: border-box;
      }
      
      #imagem-projeto, #imagem-add {
        width: 31rem;
        height: 32.9rem;
        background-color: var(--branco);
      }
      
      #nome-projeto {
        color: var(--azul-esverdeado);
        font-size: 2.5rem;
        line-height: 1.5;
        align-self: stretch;
        font-family: 'Playfair Display';
      }
      
      #descricao-projeto {
        align-self: stretch;
        font-size: 1.125rem;
        line-height: 1.5;
      }
      
      #ver-projeto {
        display: flex;
        padding: 0.5rem 1.5rem;
        align-items: flex-start;
        border-radius: 1.5rem;
        background-color: var(--cinza);
        border: 1px solid var(--azul-esverdeado);
        align-self: first baseline;
      }
      
      #ver-projeto:hover {
        background-color: var(--azul-esverdeado);
      }
      
      #direita, #esquerda {
        width: 4.375rem;
        height: 4.375rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
      }
      
      #direita:hover, #esquerda:hover {
        background-color: var(--cinza-claro);
      }
      
      #direita img, #esquerda img {
        display: flex;
        width: 1.875rem;
        height: 1.875rem;
        align-items: center;
      }

      .contato {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-bottom: 10.5rem;
      }
      
      form {
        padding-top: 5.625rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
      }
      
      form label {
        text-align: left;
        width: 100%;
        margin-bottom: 0.5rem;
        font-size: 1rem;
      }
      
      form input {
        margin-bottom: 1.5rem;
        background: var(--cinza);
        width: 25rem;
        height: 2.5rem;
        border-radius: 0.5rem;
        border: none;
        color: var(--branco);
        font-family: 'Comfortaa';
      }
      
      form button {
        display: flex;
        padding: 0.5rem 1.5rem;
        align-items: flex-start;
        border-radius: 0.5rem;
        font-family: 'Roboto';
        font-size: 1.125rem;
        line-height: 1.5;
      }
      
      form button:hover {
        background-color: var(--azul-esverdeado);
      }
      
      #mensagem {
        height: 10rem;
        width: 25rem;
        background: var(--cinza);
        color: var(--branco);
        border: none;
        border-radius: 0.5rem;
        margin-bottom: 1.5rem;
        font-family: 'Comfortaa';
      }
      
      footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 5.75rem;
      }
      
      footer ul {
        display: inline-flex;
        align-items: flex-start;
        gap: 3rem;
      }
      
      footer .icones {
        padding-top: 2.43rem;
      }
      
      footer img {
        width: 100%;
        height: 100%;
      }