:root {
    --cinza-escuro: #222831;
    --cinza: rgba(57, 62, 70, 0.75);
    --branco: #EEE;
    --azul-esverdeado: #00ADB5;
}

body {
    background-color: var(--cinza-escuro);
    color: var(--branco);
    width: 100%;
    height: 100vh;
    font-family: 'Nunito';
}

h1 {
    font-family: 'Playfair Display';
}

button {
    font-family: 'Roboto';
    background-color: var(--cinza);
    color: var(--branco);
    border: none;
    border-radius: 24px;
}

header {
    display: flex;
    height: 56px;
    padding: 12px 120px;
    justify-content: center;
    align-items: center;
    gap: 752px;
    z-index: 1;
    position: relative;
}

#perfil-inicio {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;

}

a {
    text-decoration: none;
}

header a {
    color: var(--branco);
    font-family: 'Comfortaa';
}

ul {
    list-style: none;
    display: flex;
    align-items: flex-start;
}

header ul{
    gap: 48px;
    flex: 1 0 0;    

}

.inicio {
    display: flex;
    align-items: center;
    padding-left: 120px;

}

.texto-inicio {
    width: 633px;
    padding-top: 120px;
}

.texto-inicio h1{
    font-size: 96px;
    line-height: 100%;

}

.texto-inicio h1 span {
    color: var(--azul-esverdeado);
}

.inicio-botao {
    display: flex;
    align-items: center;
    gap: 24px;
    padding-bottom: 366px;
}

.inicio-botao button {
    display: flex;
    padding: 10px 32px;
    gap: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.50);
    font-size: 18px;

}

.inicio-botao button img {
    width: 24px;
    height: 24px;
}

#projetos-botao {
    align-items: flex-start;
    border: 1px solid var(--azul-esverdeado);
    background-color: var(--cinza-escuro);
}

#CV-botao {
    align-items: center;
    backdrop-filter: blur(2px);

}

.Sobre-mim {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo{
    display: flex;
    align-items: center;
    gap: 104px;
}

.conteudo img {
    width: 524px;
    height: 524px;
    flex-shrink: 0;
    padding-right: 102px;
}

.conteudo h1 {
    color: var(--azul-esverdeado);
    align-items: center;
    font-size: 48px;
    line-height: 150%;
    align-self: stretch;

}

.texto-sobre-mim {
    display: flex;
    width: 588px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    font-size: 24px;
    line-height: 150%;
    padding-left: 122px;
}

.texto-sobre-mim p {
    align-self: stretch;
}

.icones {
    display: flex;
    align-items: center;
    gap: 21px;
    padding-top: 136px;
}

.projetos {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo-decorado {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 136px;
}

.titulo-decorado h1 {
    text-align: center;
    font-size: 48px;
    line-height: 150%;
}

#retangulo {
    width: 100px;
    height: 4px;
    border-radius: 2px;
    margin-top: -35px;
    background: var(--azul-esverdeado);

}

.projeto {
    padding-top: 105px;
    display: flex;
    align-items: center;
}

.projetos-container {
    display: flex;
}

.texto-projeto {
    display: flex;
    width: 406.678px;
    height: 524px;
    padding: 146.5px 38.881px 145.5px 50.441px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    gap: 24px;
}

#imagem-projeto {
    width: 496px;
    height: 526px;
    background-color: var(--branco);
}

#nome-projeto {
    color: var(--azul-esverdeado);
    font-size: 40px;
    line-height: 150%;
    align-self: stretch;
    font-family: 'Playfair Display';
}

#descricao-projeto {
    align-self: stretch;
    font-size: 18px;
    line-height: 150%;
    
}

#ver-projeto {
    display: flex;
    padding: 8px 24px;
    align-items: flex-start;
    border-radius: 24px;
    background-color: var(--cinza-escuro);
    border: 1px solid var(--azul-esverdeado);
    align-self: first baseline;
}

#direita, #esquerda {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}